# Visual Studio files
.vs/
*/.vs/
**/.vs/
*.vsidx
*.user
*.suo
*.cache
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.log
*.vssscc
bin/
obj/
packages/
.vscode/
*.userprefs
project.lock.json
project.fragment.lock.json
artifacts/